[submodule "codec/mirl_values_core"]
	path = codec/mirl_values_core
	url = https://github.com/Miner3D-Gamer/mirl_values_core.git
[submodule "graphics/mirl_graphics"]
	path = graphics/mirl_graphics
	url = https://github.com/Miner3D-Gamer/mirl_graphics.git
[submodule "helper/mirl_derive"]
	path = helper/mirl_derive
	url = https://github.com/Miner3D-Gamer/mirl_derive.git
[submodule "math/mirl_geometry_core"]
	path = math/mirl_geometry_core
	url = https://github.com/Miner3D-Gamer/mirl_geometry_core.git
[submodule "platform/mirl_input"]
	path = platform/mirl_input
	url = https://github.com/Miner3D-Gamer/mirl_input.git
[submodule "platform/windowing/mirl_windowing_core"]
	path = platform/windowing/mirl_windowing_core
	url = https://github.com/Miner3D-Gamer/mirl_windowing_core.git
[submodule "mirl_unsorted_horrors"]
	path = mirl_unsorted_horrors
	url = https://github.com/Miner3D-Gamer/mirl_unsorted_horrors.git
