[submodule "codec/mirl_values_core"]
	path = codec/mirl_values_core
	url = https://github.com/Miner3D-Gamer/mirl_values_core.git
[submodule "deprecated/buffer/mirl_buffer"]
	path = deprecated/buffer/mirl_buffer
	url = https://github.com/Miner3D-Gamer/mirl_buffer.git
[submodule "deprecated/codec/mirl_codec_info"]
	path = deprecated/codec/mirl_codec_info
	url = https://github.com/Miner3D-Gamer/mirl_codec_info.git
[submodule "deprecated/extensions/mirl_extensions"]
	path = deprecated/extensions/mirl_extensions
	url = https://github.com/Miner3D-Gamer/mirl_extensions.git
[submodule "deprecated/graphics/mirl_graphics"]
	path = deprecated/graphics/mirl_graphics
	url = https://github.com/Miner3D-Gamer/mirl_graphics.git
[submodule "deprecated/helper/mirl_build_tools"]
	path = deprecated/helper/mirl_build_tools
	url = https://github.com/Miner3D-Gamer/mirl_build_tools.git
[submodule "deprecated/math/mirl_geometry"]
	path = deprecated/math/mirl_geometry
	url = https://github.com/Miner3D-Gamer/mirl_geometry.git
[submodule "deprecated/mirl_collections"]
	path = deprecated/mirl_collections
	url = https://github.com/Miner3D-Gamer/mirl_collections.git
[submodule "deprecated/mirl_std_exposed"]
	path = deprecated/mirl_std_exposed
	url = https://github.com/Miner3D-Gamer/mirl_std_exposed.git
[submodule "deprecated/platform/mirl_audio"]
	path = deprecated/platform/mirl_audio
	url = https://github.com/Miner3D-Gamer/mirl_audio.git
[submodule "graphics/mirl_graphics"]
	path = graphics/mirl_graphics
	url = https://github.com/Miner3D-Gamer/mirl_graphics.git
[submodule "helper/mirl_derive"]
	path = helper/mirl_derive
	url = https://github.com/Miner3D-Gamer/mirl_derive.git
[submodule "math/mirl_geometry_core"]
	path = math/mirl_geometry_core
	url = https://github.com/Miner3D-Gamer/mirl_geometry_core.git
[submodule "platform/mirl_input"]
	path = platform/mirl_input
	url = https://github.com/Miner3D-Gamer/mirl_input.git
[submodule "platform/windowing/mirl_windowing_core"]
	path = platform/windowing/mirl_windowing_core
	url = https://github.com/Miner3D-Gamer/mirl_windowing_core.git
